:root {
  /* Global Font Variables */
  --font-primary: "Merriweather", serif;
  --font-secondary: "Lato", sans-serif;

  /* Base Colors */
  --color-body: #dcdda1;
  --color-highlight: #fcee21;

  /* Section Colors */
  --color-section-bg: #183114;
  --color-section-content: #446129;

  /* Text Colors */
  --color-paragraph: #fafafa;

  /* Card Colors */
  --color-card-bg: #dcde9f;

  /* Interaction Colors */
  --color-hover: #f8ed41;

  /* Social Icon Colors */
  --color-social-icon-bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-body);
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

/* --------------------------- footer section style -------------------------------------- */
#footerSection {
  background-color: var(--color-section-bg);
}
.container {
  padding: 25px 50px 15px 50px;
}

.footer-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-heading {
  font-size: 30px;
  font-weight: bolder;
  color: var(--color-highlight);
}
