/* --------------------------- newsletter section style -------------------------------------- */
#newsletter {
  padding: 80px 250px;
}

.newsletter-container {
  padding: 10px 20px;
}

.newsletter-card {
  /* background-color: var(--color-section-bg); */
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    var(--color-section-bg),
    var(--color-section-content)
  );
}

.newsletter-content {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-image-text {
  display: flex;
  flex-direction: row;
  gap: 8rem;
}

.newsletter-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newsletter-text h3 {
  color: var(--color-highlight);
  font-size: 30px;
  font-weight: 900;
}

.newsletter-text p {
  font-size: 16px;
  color: var(--color-social-icon-bg);
  word-spacing: 8px;
  letter-spacing: 0.3px;
  line-height: 25px;
}

.newsletter-email-input {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

.email-input-field {
  width: 100%;
  padding: 12px 19px;
  border: 2px solid var(--color-highlight); /* Optional: Border matching the theme */
  border-radius: 25px; /* Rounded corners */
  font-size: 16px;
  outline: none;
  color: var(--color-section-content);
  background-color: var(--color-section-bg);
  color: var(--color-paragraph);
}

.email-input-field::placeholder {
  color: var(--color-highlight);
  opacity: 0.7;
}
.email-submit-btn {
  position: absolute;
  right: -40px;
  top: 52%;
  transform: translateY(-51%);
  background-color: var(--color-highlight);
  color: var(--color-section-bg);
  padding: 13px 45px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: var(--font-secondary);
}

.email-submit-btn:hover {
  background-color: var(--color-hover);
  color: var(--color-section-bg);
}

.newsletter-caption {
  color: var(--color-paragraph);
  font-size: 12px;
  font-family: var(--font-secondary);
  margin-top: -14px;
}

/* Responsive styles for tablet devices */
@media screen and (min-width: 768px) and (max-width: 992px) {
  #newsletter {
    padding: 60px 100px;
  }

  .newsletter-image-text {
    gap: 5rem;
  }

  .newsletter-text h3 {
    font-size: 26px;
  }

  .newsletter-text p {
    font-size: 15px;
    line-height: 22px;
  }

  .email-input-field {
    font-size: 14px;
  }

  .email-submit-btn {
    padding: 12px 40px;
    font-size: 13px;
    margin-right: -1px;
  }
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 767px) {
  #newsletter {
    padding: 40px 20px;
  }

  .newsletter-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .newsletter-image-text {
    flex-direction: column;
    gap: 10px;
  }

  .newsletter-image {
    align-self: center;
    width: 40%;
  }

  .newsletter-text {
    align-self: center;
    width: 100%;
    text-align: center;
  }

  .newsletter-text h3 {
    font-size: 22px;
  }

  .newsletter-text p {
    font-size: 14px;
    line-height: 20px;
  }

  .newsletter-email-input {
    width: 100%;
    max-width: none;
  }

  .email-input-field {
    font-size: 14px;
    padding: 10px 15px;
  }

  .email-submit-btn {
    font-size: 12px;
    padding: 10px 28px;
    margin-right: 7px;
  }

  .newsletter-caption {
    font-size: 10px;
    text-align: center;
  }
}
