:root {
  /* Global Font Variables */
  --font-primary: "Merriweather", serif;
  --font-secondary: "Lato", sans-serif;

  /* Base Colors */
  --color-body: #f3f4d3;
  --color-highlight: #fcee21;

  /* Section Colors */
  --color-section-bg: #183114;
  --color-section-content: #446129;

  /* Text Colors */
  --color-paragraph: #fafafa;

  /* Card Colors */
  --color-card-bg: #dcde9f;

  /* Interaction Colors */
  --color-hover: #f8ed41;

  /* Social Icon Colors */
  --color-social-icon-bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-body);
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-secondary);
}

#shareSocialIcon {
  margin-top: 80px;
}

.share-heading {
  font-size: 45px;
  color: var(--color-section-bg);
  text-align: center;
  margin-bottom: 20px;
}

.share-social-link {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 45px;
}

.social-icon {
  /* background-color: var(--color-section-bg); */
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.share-social-link img {
  width: 4rem;
  height: 5rem;
}

/* Medium Tablets (768px - 1024px) */
@media screen and (max-width: 1024px) {
  .share-heading {
    font-size: 35px;
  }

  .social-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .share-social-link img {
    width: 2rem;
    height: 2rem;
  }

  /* .footer-content p {
    font-size: 12px;
    width: 100%;
    word-spacing: 3px;
  } */
}

/* Small Tablets and Large Phones (576px - 767px) */
@media screen and (max-width: 767px) {
  .share-heading {
    font-size: 30px;
  }

  .social-icon {
    width: 3rem;
    height: 3rem;
  }

  .share-social-link img {
    width: 1.8rem;
    height: 1.8rem;
  }

  /* .footer-content p {
    font-size: 12px;
    width: 100%;
    word-spacing: 3px;
  } */
}

/* Mobile Devices (up to 575px) */
@media screen and (max-width: 575px) {
  .share-heading {
    font-size: 25px;
  }

  .social-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .share-social-link img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
